html {
    scroll-behavior: smooth;
}

#contact {
    overflow: hidden;
    position: fixed;
    /* font-size: 4vw; */
    bottom: 0; 
    width: 100%;
    border: 2px solid red;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    background-color: red;
}

#navigation {
    overflow: hidden;
    position: fixed;
    /* font-size: 4vw; */
    top: 0; 
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: 2px;
    border: 2px solid red;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navLink {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.imgLink {
    display: flex;
    justify-content: center;
}

.text-container {
   display: flex;
   /* font-size: 5vw; */
   flex-direction: column;
   border: 2px solid red;
   /* margin: 10% 3% 40% 3%; */
}

.picture-container {
    display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid red;
   /* margin: 30% 0% 10% 0%; */
}

#Claire {
    max-width: 35%;
    max-height: 35%;
}

/* The margins are all going to have to depend on the media, as well as the font sizes, this will have to be overhauled tomorrow or some other time */